fastapi>=0.104.0
uvicorn>=0.23.2
python-multipart>=0.0.5  # For handling file uploads
sqlalchemy>=2.0.0  # For database operations
alembic>=1.12.0  # For database migrations
pydantic>=2.0.0  # For data validation
python-dotenv>=1.0.0  # For environment variables
boto3>=1.28.0  # For AWS S3 integration
psycopg2-binary>=2.9.6  # PostgreSQL driver
python-jose[cryptography]>=3.3.0
pydantic-settings
email-validator>=1.0.0
passlib[bcrypt]>=1.7.4  # For password hashing
PyMuPDF>=1.22.5  # For PDF processing
pdfplumber>=0.9.0  # For PDF text extraction
pandas>=2.0.0  # For data manipulation
pytesseract>=0.3.10  # For OCR
Pillow>=10.0.0  # For image processing
opencv-python>=4.5.0  # For image processing
pdf2image>=1.16.0  # For converting PDF to images
google-generativeai>=0.2.3  # For Google Generative AI integration
itsdangerous>=2.1.2  # For secure data serialization
